@import "tailwindcss";

@theme {
  --color-brand-primary: #961728;
  --color-brand-secondary: #EEE5DA;
  --color-brand-tertiary: #ECF7F0;
  --color-gray-300: #DDDBDB;
  --color-gray-500: #B3B3B3;
  --color-gray-700: #666666;
  --color-gray-900: #686868;
  --color-black-500: #262424;
  --color-black-700: #1C1C1C;
  --color-black-300: #686868;
  --color-white-500: #FEFEFE;
  --font-grafton: "UM Grafton", sans-serif;
  --font-anton: "Anton", sans-serif;  
}

@font-face {
  font-family: 'UM Grafton';
  src: url('/fonts/Grafton%20Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UM Grafton';
  src: url('/fonts/Grafton%20Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UM Grafton';
  src: url('/fonts/Grafton%20Semi%20Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UM Grafton';
  src: url('/fonts/Grafton%20Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Grassroots';
  src: url('/fonts/Grassroot.woff') format('woff'); 
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: var(--font-grafton);
  color: var(--color-black-500);
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

@utility text-gradient-brand {
  background: linear-gradient(90deg, #DF2B43 0.03%, #672525 47.6%, #C23289 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@utility text-fill-current {
  -webkit-text-fill-color: currentColor;
}

/* ── Custom Scrollbar ───────────────────────────────────── */
::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 9999px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666666 transparent;
}